@import './reset.css';
@import './common.css';

#wrap{
    min-width: 1340px;
}

#header{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    width: 1280px;
    height: 215px;
    padding-top: 5px;
    margin: 0 auto;
}

#header .util-area.left{
    margin-left: -12px;
}
#header .util-area.right{
    margin-right: -10px;
}

#header .search-area{
    display: flex;
    position: absolute;
    top: 52px;
    left: 50%;
    width: 706px;
    border: 1px solid #03c75a;
    border-radius: 33px;
    background-color: #fff;
    transform: translateX(-50%);
}


#header .search-area .logo a{
    display: block;
    padding: 17px 16px 17px 27px;
}
#header .search-area .logo svg{
    width: 24px;
    fill: #03c75a;
}



#header .search-area .search-form{
    flex: 1;
}
#header .search-area .search-inner{
    display: flex;
    height: 100%;
}
#header .search-area .input-search{
    flex: 1;
    color: #000;
    color: var(--color_search);
    padding: 17px 0;
    background-color: rgba(0,0,0,0);
    font-size: 2rem;
    line-height: 24px;
    font-weight: bold;
    outline: 0;
}
#header .search-area .input-search::placeholder{
    font-weight: normal;
    color: #e4e4e4;
}

#header .search-area .btn-keyboard{
    padding: 22px 3px;
}
#header .search-area .btn-keyboard::before{
    content: "";
    width: 24px;
    height: 14px;
    display: block;
    background-position: -148px -301px;
}

#header .search-area .btn-auto{
    position: relative;
    top: 0;
    left: 2px;
    padding: 26px 7px;
}
#header .search-area .btn-auto::before{
    content: "";
    width: 10px;
    height: 6px;
    display: block;
    background-position: -154px -211px;
}

#header .search-area .btn-submit{
    padding: 17px 27px 16px 10px;
}
#header .search-area .btn-submit svg{
    width: 25px;
}




#header .nav-area{
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    width: 676px;
}
#header .nav-area .nav-list{
    display: flex;
    gap: 8px;
}
#header .nav-area .nav-item+.nav-item{
    margin-left: -10.5px;
}
#header .nav-area .link.ad{
    width: 83px;
    padding-left: 14px;
}
#header .nav-area .link{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    width: 64px;
}
#header .nav-area .icon{
    position: relative;
    width: 44px;
    height: 44px;
}
#header .nav-area .name{
    font-size: 1.3rem;
    line-height: 20px;
}
#header .nav-area .icon::before{
    content: "";
    position: absolute;
    top: -1px;
    left: -3px;
    background-position: -153px -142px;
    width: 50px;
    height: 50px;
    z-index: -1;
}
#header .nav-area .icon:not(.chzzk)::after{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    width: 40px;
    height: 40px;
}
#header .nav-area .icon.chzzk img{
    margin: auto;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;left: 0;bottom: 0;right: 0;
}

#header .nav-area .mail::after{
    background-position: -205px -219px;
}
#header .nav-area .cafe::after{
    background-position: -41px -219px;
}
#header .nav-area .blog::after{
    background-position: 0px -219px;
}
#header .nav-area .store::after{
    background-position: -41px -260px;
}
#header .nav-area .news::after{
    background-position: -270px -205px;
}
#header .nav-area .stock::after{
    background-position: -123px -260px;
}
#header .nav-area .property::after{
    background-position: 0px -260px;
}
#header .nav-area .map::after{
    background-position: -270px 0px;
}
#header .nav-area .webtoon::after{
    background-position: -164px -260px;
}
#header .nav-area .more::after{
    background-position: -270px -164px;
}
#header .nav-area .link.ad{
    display: block;
    margin-left: -10.5px;
}
#header .nav-area .ad{
    position: relative;
    z-index: 10;
}
/* #header .nav-area .ad::after{
    content: "";
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    mask-image: url("data:image/svg+xml,%3Csvg%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%220%200%2040%2040%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M35.8916%204.05844C34.4994%202.6636%2032.7598%201.66622%2030.8527%201.16957C29.6805%200.675129%2026.2138%20-0.0109778%2019.9694%200.000133254C13.725%200.0112443%2010.2473%200.708462%209.08618%201.2029C5.21209%202.23714%202.19023%205.2696%201.16957%209.14729C0.675129%2010.3195%20-0.0109778%2013.8306%200.000133254%2020.0333C0.0112443%2026.2361%200.708462%2029.7555%201.20568%2030.9138C2.23787%2034.7881%205.26978%2037.8105%209.14729%2038.8304C10.3195%2039.3249%2013.7139%2040.011%2020.0333%2039.9999C26.3527%2039.9888%2029.7555%2039.2943%2030.9138%2038.7971C34.7879%2037.7629%2037.8098%2034.7304%2038.8304%2030.8527C39.3249%2029.6805%2040.011%2026.1555%2039.9999%2019.9667C39.9888%2013.7778%2039.2943%2010.2445%2038.7971%209.08618C38.2933%207.18157%2037.2902%205.44593%2035.8916%204.05844V4.05844Z%22%20fill%3D%22white%22%2F%3E%3C%2Fsvg%3E");
} */



#header .util-area.left{
    display: flex;
    gap: 5px;
}
#header .util-area.right{
    display: flex;
    gap: 4px;
}
#header .util-area [class*="btn-"]{
    padding: 8px;
}
#header .util-area [class*="btn-"]::before{
    display: block;
    content: '';
    width: 32px;
    height: 32px;
}

#header .util-area .btn-menu::before{
    background-position: -311px -166px;
}
#header .util-area .btn-pay::before{
    background-position: -248px -260px;
}
#header .util-area .btn-talk::before{
    background-position: -99px -316px;
}
#header .util-area .btn-alert::before{
    background-position: -311px -232px;
}
#header .util-area .btn-cart::before{
    background-position: -33px -316px;
}








#footer{
    border-top: 1px solid #ebebeb;
    border-top: 1px solid var(--color_border_in_divider);
    background-color: #f5f6f7;
   
}
#footer .inner{
    width: 1280px;
    margin: 0 auto;
    padding-bottom: 78px;
}

#footer .nbanner-area{
    border-bottom: 1px solid #ebebeb;
    border-bottom: 1px solid var(--color_border_in_divider);
    overflow: hidden;
    padding: 30px 0;
}
#footer .nbanner-area .ad-list{
    display: flex;
    gap: 20px;
    height: 100px;
}
#footer .nbanner-area .ad-item{
    position: relative;
    width: 410px;
}
#footer .nbanner-area .ad-item a{
    display: flex;
}
#footer .nbanner-area .ad-item .thumb{
    overflow: hidden;
    width: 160px;
    height: 100px;
    border-radius: 6px;
    position: relative;
}
#footer .nbanner-area .ad-item .thumb::before{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: inherit;
    content: '';
}
#footer .nbanner-area .ad-item .thumb .ad-tag{
    position: absolute;
    display: block;
    width: 25px;
    height: 16px;
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='16' viewBox='0 0 25 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='25' height='16' rx='3' fill='white' fill-opacity='0.7'/%3E%3Crect x='0.5' y='0.5' width='24' height='15' rx='2.5' stroke='black' stroke-opacity='0.12'/%3E%3Cpath d='M7.89097 4.146H9.35397L12.379 12H10.905L10.168 9.921H7.03297L6.29597 12H4.87697L7.89097 4.146ZM7.40697 8.876H9.80497L8.62797 5.499H8.59497L7.40697 8.876ZM12.9436 4.146H16.1996C16.8009 4.146 17.3216 4.24867 17.7616 4.454C18.2016 4.65933 18.5609 4.94167 18.8396 5.301C19.1182 5.653 19.3236 6.06733 19.4556 6.544C19.5949 7.02067 19.6646 7.53033 19.6646 8.073C19.6646 8.61567 19.5949 9.12533 19.4556 9.602C19.3236 10.0787 19.1182 10.4967 18.8396 10.856C18.5609 11.208 18.2016 11.4867 17.7616 11.692C17.3216 11.8973 16.8009 12 16.1996 12H12.9436V4.146ZM14.3186 10.878H15.6716C16.2069 10.878 16.6432 10.8083 16.9806 10.669C17.3252 10.5223 17.5929 10.3243 17.7836 10.075C17.9816 9.81833 18.1136 9.52133 18.1796 9.184C18.2529 8.83933 18.2896 8.469 18.2896 8.073C18.2896 7.677 18.2529 7.31033 18.1796 6.973C18.1136 6.62833 17.9816 6.33133 17.7836 6.082C17.5929 5.82533 17.3252 5.62733 16.9806 5.488C16.6432 5.34133 16.2069 5.268 15.6716 5.268H14.3186V10.878Z' fill='%235D5D5D'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-origin: content-box;
    color: transparent;
    position: absolute;
    top: 3px;
    right: 3px;
}
#footer .nbanner-area .ad-item .text-area{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 5px 3px 0 18px;
    height: 100px;
    box-sizing: border-box;
}
#footer .nbanner-area .ad-item .text-area .sub-title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    align-items: center;
    height: 20px;
    max-width: 141px;
    padding: 0 6px;
    border-radius: 4px;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -0.25px;
    color: #fff;
    background-color: #a0adb2;
    vertical-align: top;
}
#footer .nbanner-area .ad-item .text-area .title{
    overflow: hidden;
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: -0.25px;
    color: #222122;
    font-weight: bold;
}
#footer .nbanner-area .ad-item .text-area .detail{
    overflow: hidden;
    font-size: 14px;
    margin-top: 6px;
    line-height: 1.43;
    letter-spacing: -0.25px;
    color: #545454;
}



#footer .notice-area{
    border-bottom: 1px solid #ebebeb;
    border-bottom: 1px solid var(--color_border_in_divider);
    overflow: hidden;
    padding: 21px 0;
    line-height: 17px;
    display: flex;
    font-size: 1.3rem;
    line-height: 1.7rem;
}
#footer .notice-area .title{
    font-weight: bold;
    flex: 1;
}
#footer .notice-area .link-all{
    font-weight: bold;
    display: flex;
}
#footer .notice-area .link-all::after{
    width: 8px;
    height: 12px;
    margin: 3px 0 0 10px;
    content: '';
    background-position: -261px -152px;
}




#footer .aside-area{
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    font-size: 1.3rem;
    border-bottom: 1px solid #ebebeb;
    border-bottom: 1px solid var(--color_border_in_divider);
}

#footer .aside-area .right-wrap{
    display: flex;
}
#footer .aside-area .left-wrap{
    display: flex;
    flex-direction: column;
}
#footer .aside-area .partner-box{
    flex: 1;
    display: flex;
    align-items: center;
}
#footer .aside-area .partner-box:last-child{
    margin-top: 10px;
}
#footer .aside-area .partner-box .title{
    width: 87px;
    padding-right: 9px;
    margin: 0 9px 0 0;
    font-weight: bold;
}
#footer .aside-area .partner-box .partner-list{
    display: flex;
}
#footer .aside-area .partner-box .partner-item{
    display: flex;
    align-items: center;
    color: var(--color_caption1);
    line-height: 20px;
    font-size: 1.3rem;
}
#footer .aside-area .partner-box .partner-item+.partner-item::before{
    content: "";
    width: 1px;
    height: 12px;
    background-color: #d3d5d7;
    background-color: var(--color_dot_divider);
    margin: 0 10px;
    vertical-align: -1px;
}
#footer .aside-area .partner-box .partner-item .parter{
    color: #404040;
    color: var(--color_caption1);
}







#footer .aside-area .service-box{
    display: flex;
    gap: 11px;
    margin-left: 30px;
}
#footer .aside-area .service-box .text{
    display: flex;
    flex-direction: column;
}

#footer .aside-area .service-box .title{
    font-weight: bold;
    padding-top: 5px;
}
#footer .aside-area .service-box .link{
    padding-top: 5px;
}
#footer .aside-area .service-box .icon{
    width: 48px;
    height: 48px;
}







#footer .corp-area{
    width: 1280px;
    margin: 0 auto;
    padding-top: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 1.3rem;
    letter-spacing: -0.4px;
}
#footer .corp-area .corp-list{
    display: flex;
    justify-content: center;
}
#footer .corp-area .corp-item{
    display: flex;
    align-items: center;
}
#footer .corp-area .corp-item .bold{
    font-weight: bold;
}
#footer .corp-area .corp-item:not(:nth-last-child(-n+2))::after{
    content: "";
    display: inline-block;
    width: 1px;
    height: 12px;
    background-color: #d3d5d7;
    background-color: var(--color_dot_divider);
    vertical-align: -1px;
    margin: 0 10px;
}
#footer .corp-area .corp-item small{
    font-weight: bold;
    margin-left: 17px;
}